extends ../layouts/main-layout.pug
block styles
	link(rel="stylesheet" href="/css/product.css")
	link(rel="stylesheet" href="/css/forms.css")
block content 
	main
		if (errorMessage)
			each error in errorMessage
				h1.user-message--error.user-message #{error}
		form.product-form(action="/new-password" method="POST")
			.form-control
				label(for="password") password 
				input(type="password" name="password" id="password")
			input(type="hidden" name="_csrf" value=`${csrfToken}`)
			input(type="hidden" name="userId" value=`${userId}`)
			button(type="submit") Update Password