* {
    box-sizing: border-box;
  }
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main {
    padding: 1rem;
}

.main-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    background-color: rgba(35, 0, 99, 0.3);
    padding: 0 1.5rem;
}

.main-header__item {
    margin: 0 1rem;
    padding: 0;
}

.main-header__item-list {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

.main-header__item a {
    text-decoration: none;
    color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: black;
}
.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
  }
  
  .card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }
  
  .card__header,
  .card__content {
    padding: 1rem;
  }
  
  .card__header h1,
  .card__content h1,
  .card__content h2,
  .card__content p {
    margin: 0;
  }
  
  .card__image {
    width: 100%;
  }
  
  .card__image img {
    width: 100%;
  }
  
  .card__actions {
      padding: 1rem;
      text-align: center;
  }
  
  .card__actions button,
  .card__actions a {
      margin: 0 0.25rem;
  }
  .user-message{
    margin: auto;
    width: 90%; 
    border: 1px solid blue;
    border-radius: 5px;
    padding: 1rem;
    background-color: rgba(6, 143, 255, 0.479);
    text-align: center;
    width: 30rem;
  }
  .user-message--error{
    background-color: red;
    background-color: rgba(170, 21, 21, 0.603);
  }