.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control input,
.form-control textarea {
    border: 1px solid blueviolet;
    font: inherit;
    border-radius: 2px;
}

.form-control input,
.form-control label,
.form-control textarea {
    display: block;
    width: 100%;
}
.form-control input:focus,
.form-control textarea:focus{
    outline-color: black;
}
button {
    font: inherit;
    border: 1px solid blueviolet;
    background: blueviolet;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: black;
    color: white;
}